---
export interface Props {
  icon: string;
  classes: string;
}

const { classes, icon } = Astro.props as Props;
const { default: innerHTML } = await import(`/icon/${icon}.svg?raw`);
---
<div class={classes}>
  <Fragment set:html={innerHTML}  />
</div>
